.layout-wrapper {

    .layout-main {
        .layout-content {
            padding-top: 75px;
        }

        .layout-sidebar-active {
            padding-left: 240px;
        }

        .layout-main-mask {
            display: none;
        }

        .layout-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 1em 1.5em;
            background-color: $footerBgColor;
            border-top: 2px solid $footerBorderColor;

            .footer-text-right {
                margin-top: .5em;

                span {
                    vertical-align: middle;
                }
            }
        }
    }
}
